.app-tabs--header {
    cursor: pointer;
    user-select: none;
    display: flex;
}
.app-tabs--header__item {
    padding: 10px 20px;
    border: 1px solid grey;
}
.app-tabs--header__item.active {
    border-bottom: 1px solid red;
}
.app-tabs--item {
    display: block;
    padding: 10px 20px;
    border: 1px solid grey;
    width: 100%;
}
